
<div class="top_guide">
  <div class="guide_border well well-compact">
    <div class="guide_title">
      <h2><strong class="guide_title_h">ご利用ガイド</strong></h2>
    </div>

    <div class="about">
      <div class="title">
        <h3><strong class="title_strong">● Webサイト「CLIP」について</strong></h3>
      </div>
      <div class="text">
        <ul>
          <li>「CLIP」は自分が気になった「場所」「モノ」を登録（クリップ）することができるWebサイトです。</li>
          <li>アカウントを登録し、ユーザーになることで、このWebサイトを利用することができます。</li>
        </ul>
      </div>
    </div>

    <div class="about">
      <div class="title">
        <h3><strong class="title_strong">● アカウント登録の仕方</strong></h3>
      </div>
      <div class="text">
        <ul>
          <li>ホーム画面に表示されている「sign up」、またはナビバーに表示されている「アカウント登録」をクリックします。</li>
          <li>入力フォームに必要情報を入力し、「アカウント登録」ボタンをクリックします。</li>
          <li>入力内容に誤りがなければ、アカウント登録が完了します。ユーザーとしてWebサイトを使用できるようになります。</li>
          <p>※フレンドIDとは？<br>→フレンドIDはユーザー同士でフレンドになる際に必要なIDです。</p>
        </ul>
      </div>
    </div>

    <div class="about">
      <div class="title">
        <h3><strong class="title_strong">● クリップの仕方</strong></h3>
      </div>
      <div class="text">
        <ul>
          <li>ナビバーに表示されている「クリップ」をクリックします。</li>
          <li>「場所」をクリップしたい場合は「Clip location」ボタンを、「モノ」をクリップしたい場合は「Clip object」ボタンをクリックします。</li>
          <li>入力フォームに必要情報を入力し、「Clip」ボタンをクリックします。</li>
          <li>入力内容に誤りがなければ、クリップが完了します（フレンドに公開したくない場合は「公開しない」を選択してください）</li>
          <li>クリップした「場所」「モノ」は、マイページで確認することができます。</li>
        </ul>
      </div>
    </div>

    <div class="about">
      <div class="title">
        <h3><strong class="title_strong">● フレンド機能について</strong></h3>
      </div>
      <div class="text">
        <ul>
          <li>他のユーザーとフレンドになることで、そのユーザーがクリップした内容を確認したり、チャットをすることができます。</li>
        </ul>
      </div>
    </div>

    <div class="about">
      <div class="title">
        <h3><strong class="title_strong">● フレンドになるには？</strong></h3>
      </div>
      <div class="text">
        <ul>
          <li>ナビバーに表示されている「フレンド追加」ボタンをクリックします。</li>
          <li>入力フォームにフレンドになりたいユーザーのフレンドIDを入力し、「フレンドになる」ボタンをクリックします。</li>
          <li>入力内容に誤りがなければ、そのユーザーとフレンドになることができます。</li>
          <li>ナビバーに表示されている「フレンド」ボタンをクリックすることで、フレンドになったユーザーの一覧を見ることができます。</li>
        </ul>
      </div>
    </div>

    <div class="about">
      <div class="title">
        <h3><strong class="title_strong">● チャットの仕方</strong></h3>
      </div>
      <div class="text">
        <ul>
          <li>ナビバーに表示されている「フレンド」ボタンをクリックします。</li>
          <li>フレンドの一覧から、チャットをしたいユーザーを選択します。</li>
          <li>フレンドのユーザーページ画面にある「チャット」ボタンをクリックし、チャットルーム画面に移動します。</li>
          <li>チャットルーム画面のメッセージ入力欄にメッセージを入力し、「メッセージを投稿する」ボタンを押します。</li>
          <li>入力内容に誤りがなければ、投稿したメッセージが表示されます。</li>
          <li>他のフレンドとチャットを行いたい場合は、「Chat list」からチャットをしたいユーザーを選択することができます。</li>
        </ul>
      </div>
    </div>

  </div>
</div>


<style type="text/css">
.top_guide {
  width: 90%;
  margin: 0 auto;
}
.guide_border {
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);
  background-color: rgba( 245, 245, 245, 0.9 );
}
.guide_title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.guide_title_h {
  border-bottom: solid 3px #1c1c80;
}
.about {
  margin-bottom: 30px;
}


@media screen and (max-width:767px) {
  #contents {
    padding-top: 4em;
  }
  .title_strong {
    font-size: 20px;
  }
}

@media screen and (max-width:424px) {
  .title_strong {
    font-size: 18px;
  }
}

</style>



