
<div class="admin_top">
  <div class="admin_top_left col-md-6">
    <div class="admin_top_users col-md-10 col-md-offset-1" >
      <%= link_to admins_users_path, class:"" do %>
        <div class="users_string col-xs-12">
          Users
        </div>
      <% end %>
    </div>
  </div>
  <div class="admin_top_right col-md-6">
    <div class="admin_top_unsubscribed_users col-md-10 col-md-offset-1">
      <%= link_to admins_users_unsubscribed_path, class:"" do %>
        <div class="unsubscribed_users_string col-xs-12">
          Unsubscribed
        </div>
      <% end %>
    </div>
  </div>
  <div class="admin_bottom_left col-md-6">
    <div class="admin_top_locations col-md-10 col-md-offset-1">
      <%= link_to admins_locations_path, class:"" do %>
        <div class="location_string col-xs-12">
          locations
        </div>
      <% end %>
    </div>
  </div>
  <div class="admin_bottom_right col-md-6">
    <div class="admin_top_things col-md-10 col-md-offset-1">
      <%= link_to admins_things_path, class:"" do %>
        <div class="thing_string col-xs-12">
          Objects
        </div>
      <% end %>
    </div>
  </div>
</div>



<style type="text/css">
.admin_top {
  margin-bottom: 20px;
}

.admin_top_left {
  margin-bottom: 50px;
}
.admin_top_users {
  height: 240px;
  padding: 0px;
  opacity: 0.8;
}
.users_string {
  height: 240px;
  padding: 70px 20px 50px 20px;
  font-size: 60px;
  text-align: center;
}

.admin_top_right {
  margin-bottom: 50px;
}
.admin_top_unsubscribed_users {
  height: 240px;
  padding: 0px;
  opacity: 0.8;
}
.unsubscribed_users_string {
  height: 240px;
  padding: 70px 20px 50px 20px;
  font-size: 60px;
  text-align: center;
}

.admin_bottom_left {
  margin-bottom: 50px;
}
.admin_top_locations {
  height: 240px;
  padding: 0px;
  opacity: 0.8;
}
.location_string {
  height: 240px;
  padding: 70px 20px 50px 20px;
  font-size: 60px;
  text-align: center;
}

.admin_bottom_right {
  margin-bottom: 50px;
}
.admin_top_things {
  height: 240px;
  padding: 0px;
  opacity: 0.8;
}
.thing_string {
  height: 240px;
  padding: 70px 20px 50px 20px;
  font-size: 60px;
  text-align: center;
}



@media screen and (max-width:768px) {
  .admin_top {
    }

  .admin_top_left {
    margin-bottom: 20px;
  }
  .admin_top_users {
    height: 240px;
    padding: 0px;
    opacity: 0.8;
  }
  .users_string {
    height: 240px;
    padding: 70px 20px 50px 20px;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 1px #000;
  }

  .admin_top_right {
    margin-bottom: 20px;
  }
  .admin_top_unsubscribed_users {
    height: 240px;
    padding: 0px;
    opacity: 0.8;
  }
  .unsubscribed_users_string {
    height: 240px;
    padding: 70px 20px 20px 20px;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 1px #000;
  }

  .admin_bottom_left {
    margin-bottom: 20px;
  }
  .admin_top_locations {
    height: 240px;
    padding: 0px;
    opacity: 0.8;
  }
  .location_string {
    height: 240px;
    padding: 70px 20px 50px 20px;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 1px #000;
  }

  .admin_bottom_right {
    margin-bottom: 20px;
  }
  .admin_top_things {
    height: 240px;
    padding: 0px;
    opacity: 0.8;
  }
  .thing_string {
    height: 240px;
    padding: 70px 20px 50px 20px;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 1px #000;
  }
}



@media screen and (max-width:1200px) {
  .unsubscribed_users_string {
    font-size: 50px;
    padding-top: 80px;
  }
}
</style>