
<div class="admin_location_index col-md-4 col-md-offset-4" style="height: 60px; margin-top: 60px; margin-bottom: 20px;">
  <div class="title" style="">
    <p style="font-size: 40px; text-align: center"><strong>Locations</strong></p>
  </div>
  <% @locations.each do |location| %>
    <div class="location_index" style="height: 60px; margin-bottom: 20px;">
      <%= link_to admins_location_path(location.id), class:"" do %>
        <div class="location_image col-md-2" style="padding-top: 4px; padding-bottom: 4px; padding-left: 20px;">
          <%= attachment_image_tag location, :location_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "50x50" %>
        </div>
        <div class="location_name col-md-10" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; float: left; font-size: 20px; color: black;">
          <%= location.location_name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>