
<div class="admin_location_index" style="margin-bottom: 20px; width: 350px; margin: 0 auto;">
  <div class="title" style="padding-bottom: 10px; font-size: 40px; text-align: center; text-shadow: 4px 4px 4px #000000; color: #00bfff; -webkit-text-stroke: 0.2px black;">
    <strong>Locations</strong>
  </div>
  <% @locations.each do |location| %>
    <div class="location_index" style="height: 60px; margin-bottom: 20px; box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);">
      <%= link_to admins_location_path(location.id), class:"" do %>
        <div class="location_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
          <%= attachment_image_tag location, :location_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "/images/no_image_camera_medium.jpg", size: "50x50" %>
        </div>
        <div class="location_name col-xs-10" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; float: left; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
          <%= location.location_name %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="" style="text-align: center; width: 100%;">
    <%= paginate @locations, class:"paginate" %>
  </div>
</div>