
<div class='clip' style="margin-top: 100px; text-align: center;">


  <div class='clip_lacation col-md-6' style="margin-top: 100px; text-align: center;">
    <%= link_to "Clip location",new_location_path, class:"btn-lg btn-info" %>
  </div>

  <div class='clip thing col-md-6' style="margin-top: 100px; text-align: center;">
    <%= link_to "Clip object",new_thing_path, class:"btn-lg btn-warning" %>
  </div>

</div>