
<div class="admin_user_index" style="margin-bottom: 20px; width: 350px; margin: 0 auto;">
  <div class="title" style="padding-bottom: 10px; font-size: 40px; text-align: center; text-shadow: 4px 4px 4px #000000; color: #ff6347; -webkit-text-stroke: 0.2px black;">
    <strong>Unsubscribed</strong>
  </div>
  <% @unsubscribed_users.each do |user| %>
    <div class="unsubscribed_index" style="height: 60px; margin-bottom: 20px; box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);">
      <%= link_to unsubscribed_show_user_path(user.id), class:"" do %>
        <div class="user_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
          <%= attachment_image_tag user, :user_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "50x50" %>
        </div>
        <div class="user_name col-xs-10" style="height: 60px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; float: left; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
          <%= user.user_name %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="" style="text-align: center; width: 100%;">
    <%= paginate @unsubscribed_users, class:"paginate" %>
  </div>
</div>