
<div class="user_friendship_index" style="margin-bottom: 20px; width: 350px; margin: 0 auto;">
  <div class="title" style="padding-bottom: 10px; font-size: 40px; text-align: center; text-shadow: 4px 4px 4px #000000; color: #98fb98; -webkit-text-stroke: 0.2px black;">
    <strong>Friends</strong>
  </div>
  <% @friendship.each do |friendship| %>
    <% to_user = User.find(friendship.to_user_id) %>
    <div class="user_friend" style="height: 60px; margin-bottom: 20px; box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.6);">
      <%= link_to user_path(to_user.id), class:"" do %>
        <div class="friend_image col-xs-2" style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px;">
          <%= attachment_image_tag to_user, :user_image,　format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "/images/no_image.jpg", size: "50x50", style:"border-radius: 20px;" %>
        </div>
        <div class="friend_name col-xs-10" style="padding-top: 15px; padding-bottom: 15px; padding-left: 20px; font-size: 20px; color: black; text-overflow: ellipsis ; overflow: hidden; white-space: nowrap;">
          <%= to_user.user_name %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="" style="text-align: center; width: 100%;">
    <%= paginate @friendship, class:"paginate" %>
  </div>
</div>


<style type="text/css">
@media screen and (max-width:768px) {
  #contents {
    padding-top: 4em;
    padding-bottom: 6em;
  }
}
</style>


