/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";




/*********** application.css ***********/
header {
  color: white;
}

header .navbar-left span {
  padding-top: 10px;
}

body {
  margin-top: 50px;
  padding-bottom: 80px;
  background-image: url("PAK76_chikyuugitobin20130804_TP_V.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 10%;
  background-attachment:fixed;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

footer {
  background-color: black;
}





/*********** admins/topページのcss ***********/
.admin_top_users {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.admin_top_users:hover {
    background-color: #98fb98;
}
.users_string:hover {
    color: #ffffff;
}

.admin_top_locations {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.admin_top_locations:hover {
    background-color: #00bfff;
}
.location_string:hover {
    color: #ffffff;
}

.admin_top_things {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.admin_top_things:hover {
    background-color: #ffd700;
}
.thing_string:hover {
    color: #ffffff;
}



/*********** topページのcss ***********/
.top_sign_up {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.top_sign_up:hover {
    background-color: #cc1237;
}
.sign_up_string:hover {
    color: #ffffff;
}

.top_login {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.top_login:hover {
    background-color: #000066;
}
.login_string:hover {
    color: #ffffff;
}



/*********** admins/user/indexページのcss ***********/
.user_index {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.user_index:hover {
    background-color: #98fb98;
}



/*********** admins/location/indexページのcss ***********/
.location_index {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.location_index:hover {
    background-color: #00bfff;
}



/*********** admins/thing/indexページのcss ***********/
.thing_index {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.thing_index:hover {
    background-color: #ffd700;
}




/*********** user/showページのcss ***********/
.user_location {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.user_location:hover {
    background-color: #00bfff;
}

.user_thing {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.user_thing:hover {
    background-color: #ffd700;
}




/*********** uder/clipページのcss ***********/
.clip_location {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.clip_location:hover {
    background-color: #00bfff;
}
.clip_location_string:hover {
    color: #ffffff;
}

.clip_thing {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.clip_thing:hover {
    background-color: #ffd700;
}
.clip_thing_string:hover {
    color: #ffffff;
}





/*********** friend/indexページのcss ***********/
.user_friend {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 20px;
}
/* マウスオーバー時のカラー */
.user_friend:hover {
    background-color: #98fb98;
}




